@import './index.scss';

@mixin base-height($height: $primary-height) {
	height: $height;
	line-height: $height;
}

@mixin primary-border($color: $border-color, $radius: $border-radius) {
	border: 1px solid $color;
	border-radius: $radius;
}

@mixin primary-mask($bg: $mask-bg, $opacity: $mask-opacity) {
    background: $bg;
    opacity: $opacity;
    filter:alpha(Opacity=$opacity*100);
}

@mixin close-btn-ani() {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
    transition: all .3s;
}

@function column-width($col) {
    @return percentage($col / $grid-total-cols);
}