@import '../style/index.scss';
@import '../style/mixin.scss';

.fp-btn {
	display: inline-block;
	padding: 0 $btn-primary-padding;
	font-size: $sm-font-size;
	font-family: $primary-font-family;
	color: $btn-default-color;
	border-color: $btn-default-border;
	box-sizing: border-box;
	background-color: $btn-default-bg;
	word-break: keep-all;
	white-space: nowrap;
	text-decoration: none;
	@include base-height;
	@include primary-border;
	&:hover, &:focus {
		opacity: .8;
	    filter: alpha(opacity=80);
	}
	&:hover {
		text-decoration: none;
		cursor: pointer;
	}
	&:focus {
		outline: $form-outline;
	}
}
.fp-btn-no-radius {
	border-radius: 0;
}

.fp-btn-sm {
	padding: 0 $btn-sm-padding;
	font-size: $sm-font-size;
	@include base-height($sm-height);
}


.fp-btn-lg {
	font-size: $primary-font-size;
	padding: 0 $btn-lg-padding;
	@include base-height($lg-height);
}

.fp-btn-large {
	font-size: $primary-font-size;
	padding: 0 $btn-lg-padding;
	@include base-height($lg-height);
}

.fp-btn-primary {
	color: $btn-primary-color;
	border-color: $btn-primary-border;
	background: $btn-primary-bg;
}

.fp-btn-red {
	color: #fff;
    background: $red-color;
    border-color: $red-color;
}
.fp-btn-yellow {
	color: #fff;
	background: $btn-yellow;
	border-color: $btn-yellow;
}

.fp-btn-icon-create:before {
	content: '';
	display: inline-block;
	width: 12px;
	height: 14px;
	background: url(./images/create.png) no-repeat center;
	vertical-align: middle;
	margin-right: 6px;
}
.fp-btn-icon-batch:before { 
	content: '';
	display: inline-block;
	width: 13px;
	height: 14px;
	background: url(./images/batch.png) no-repeat center;
	vertical-align: middle;
	margin-right: 6px;
}
.fp-btn-icon-export:before { 
	content: '';
	display: inline-block;
	width: 13px;
	height: 14px;
	background: url(./images/export.png) no-repeat center;
	vertical-align: middle;
	margin-right: 6px;
}

.fp-btn[disabled],
.fp-btn[readonly],
fieldset[disabled] .fp-btn {
	color: $btn-disabled-color;
	border-color: $btn-disabled-border;
	background: $btn-disabled-bg;
}

.fp-btn-red[disabled],
.fp-btn-red[readonly],
fieldset[disabled] .fp-btn-red {
	color: #7E8C8D;
	background: #DFE6EC;
	border: 1px solid #AFB8C2;
}

.fp-btn[disabled],
fieldset[disabled] .fp-btn {
	cursor: not-allowed;
}

.fp-btn[disabled]:hover,
.fp-btn[readonly]:hover,
fieldset[disabled] .fp-btn:hover,
.fp-btn[disabled]:focus,
.fp-btn[readonly]:focus,
fieldset[disabled] .fp-btn:focus {
	opacity: 1;
	filter: alpha(opacity=100);
}
