@import '../style/index.scss';
.fp-control-label {
    padding-right: 10px;
    font-size: $sm-font-size;
    height: $primary-height;
    line-height: $primary-height;
    color: $dark-font-color;
}
.fp-query-label-col {
    text-align: right;
}
.fp-query-input,
.fp-query-select,
.fp-query-datepicker,
.fp-query-datepicker input, 
.fp-query-div-node{
    width: 100%;
}
.fp-query-row {
    margin: 10px 0;
}

.fp-query-form {
    // padding-right: 20px;
    fieldset {
        border: 0;
        margin: 0;
        padding: 0;position: relative;
    }
}

.fp-query-div-node{
    float: left;
    font-size: $sm-font-size;
    line-height: $primary-height;
    height: $primary-height;
    padding: 0px 10px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    color: #4f5050;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.area-input{
    position: relative;
    .area-reset{
        position: absolute;
        padding: 5px 0;
        cursor: pointer;
        right: 0;
        top: 0;
    }
}

// .fp-query-btn {
//     float: right;
//     padding: 0 20px;
//     background: $primary-dark-color;
//     border-color: $primary-dark-color;
// }
.fp-query-btn-warp{ position: absolute; top: 0; right: 15px; bottom: 0; margin: auto; height: 33px;}
.fp-query-btn { margin-left: 5px;}
.fp-cascader-wrap {
    position: relative;
    input {
        cursor: pointer;
    }
    .fp-list-wrap {
        position: absolute;
        top: 32px;
        z-index: 99;
        min-height: 100px;
        background: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        font-size: $sm-font-size;
        ul {
            padding: 10px;
            margin: 0;
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box
        }
        li {
            list-style: none;
            line-height: 1.6;
        }
        ul + ul {
            border-left: 1px solid $border-color;
        }
    }
}