/*一步步*/
.wizard-body {
    position: relative;
    height: 100%;
    width: 100%;
    // padding: 46px 0px 39px 0px;
    // border-radius: 0 0 4px 4px;

    .wizard-nav {
        position: absolute;
        top: 0;
        height: 46px;


        ul {
            list-style: none outside none;
            padding: 0;
            margin: 0;
            width: 4000px;
        }

        ul.previous-disabled li.complete {
            cursor: default;
        }

        ul.previous-disabled li.complete:hover {
            background: #f3f3f3;
            cursor: default;
        }

        ul.previous-disabled li.complete:hover .chevron:before {
            border-left-color: #f3f3f3;
        }

        ul li {
            float: left;
            margin: 0;
            padding: 0 20px 0 30px;
            line-height: 45px;
            position: relative;
            background: #fff;
            color: #999;
            font-size: 14px;
            cursor: default;
            -webkit-transition: all .218s ease;
            -moz-transition: all .218s ease;
            -o-transition: all .218s ease;
            transition: all .218s ease;
            border-bottom: 1px solid #ccc;
        }

        ul li .step {
            border: 1px solid #e5e5e5;
            color: #ccc;
            font-size: 12px;
            border-radius: 100%;
            position: relative;
            z-index: 2;
            display: inline-block;
            width: 16px;
            height: 16px;
            line-height: 15px;
            text-align: center;
            margin-right: 10px;
        }

        ul li .chevron {
            border: 23px solid transparent;
            border-left: 14px solid #ccc;
            border-right: 0;
            display: block;
            position: absolute;
            right: -14px;
            top: 0;
            z-index: 1;
        }

        ul li .chevron:before {
            border: 23px solid transparent;
            border-left: 14px solid #fff;
            border-right: 0;
            content: "";
            display: block;
            position: absolute;
            right: 1px;
            top: -23px;
            -webkit-transition: all .218s ease;
            -moz-transition: all .218s ease;
            -o-transition: all .218s ease;
            transition: all .218s ease;
        }



        ul li.complete {
            background: #f8f8f8;
            color: #2F94EE;
        }

        ul li.complete:hover {
            background: #eee;
            cursor: pointer;
        }

        ul li.complete:hover .chevron:before {
            border-left: 14px solid #eee;
        }

        ul li.complete .chevron:before {
            border-left: 14px solid #f8f8f8;
        }

        ul li.complete .step {
            color: #2F94EE;
            border-color: #2F94EE;
        }

        ul li.complete .step:before {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            line-height: 15px;
            text-align: center;
            border-radius: 100%;
            content: "";
            background-color: #fff;
            z-index: 3;
            font-family: FontAwesome;
            font-size: 12px;
        }

        ul li.active {
            background: #2F94EE;
            color: #fff;
            border-bottom: 1px solid #2F94EE;
        }

        ul li.active .step {
            border-color: #fff;
            color: #fff;
        }

        ul li.active .chevron {
            border-left: 14px solid #2F94EE;
        }

        ul li.active .chevron:before {
            border-left: 14px solid #2F94EE;
        }

        ul li .badge {
            margin-right: 8px;
        }

        ul li:first-child {
            -webkit-border-radius: 0 0 0 0;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 0 0 0 0;
            -moz-background-clip: padding;
            border-radius: 0 0 0 0;
            background-clip: padding-box;
            padding-left: 20px;
        }
    }

    .wizard-content {
        position: absolute;
        top: 46px;
        bottom: 45px;
        left: 0;
        right: 0;
        background-clip: padding-box;
        padding: 0px;


        .step-pane {
            display: none;
            // visibility: hidden;
            height: 100%;
            padding: 10px;
        }

        // .step-pane-base{
        //     padding: 10px;
        // }

        .active {
            display: block;
            // visibility: visible;
        }

        .active .btn-group .active {
            display: inline-block;
        }
    }

    .wizard-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 45px;
        line-height: 45px;
        background-color: #F8f8f8;
        text-align: right;

        button {
            margin-right: 5px;
        }
    }
}