@import '../style/index.scss';
@import '../style/mixin.scss';

.fp-tabPage .fp-tabpage-nav {
	display: block;
	height: $tab-height;
	font-size: $primary-font-size;
	color: $primary-font-color;
}
.fp-tab-item-wrap {
	float: left;
	height: $tab-height;
	line-height: $tab-height;
	box-sizing: border-box;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	border-left: 1px solid $border-color;
	background: $form-item-bg;
	color: $light-font-color;
}
.fp-last-item {
	border-right: 1px solid $border-color;
}

.fp-tabPage .fp-tabpage-nav strong {
	display: block;
	box-sizing: border-box;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
}

.fp-tabPage .fp-tabpage-nav .fp-tab-active {
	color: #fff;
	border-color: $primary-color;
	background: $primary-color;
}

.fp-tabPage .fp-tab-isHidden {
	display: none;
}
