@import '../style/index.scss';
@import '../style/mixin.scss';
/*ie edge下自带的清楚按钮*/
input::-ms-clear, input::-ms-reveal {
	display: none;
}
.fp-form-input {
	@include base-height;
	padding: $input-default-padding;
	@include primary-border;
	font-size: $sm-font-size;
	color: $light-font-color;
	box-sizing: border-box;
	// background: $form-item-bg;
	&:focus {
		outline: $form-outline;
		border-color: $input-heightlight-color;
		box-shadow: $input-shadow;
		transition: $input-focus-trans;
	}
}

.fp-input-lg {
	font-size: $primary-font-size;
	@include base-height($lg-height);
}

.fp-input-sm {
	font-size: $sm-font-size;
	@include base-height($sm-height);
}

.fp-wtype-0 {
	width: 100px;
}

.fp-wtype-1 {
	width: $input-width;
}

.fp-wtype-2 {
	width: $input-lg-width;
	padding: $input-lg-padding;
}

.fp-wtype-3 {
	width: 300px;
	padding: $input-lg-padding;
}

.fp-form-input[disabled],
// .fp-form-input[readonly],
fieldset[disabled] .fp-form-input {
	background: $disabled-bg;
	color: $disabled-color;
}

.fp-form-input[disabled],
fieldset[disabled] .fp-form-input {
	cursor: not-allowed;
}

.fp-textCenter {
	text-align: center;
}
.fp-input-more-text {
	text-align: center;
	@include base-height($primary-height - 2);
	font-size: $sm-font-size;
}
.fp-input-unit-text {
	position: absolute;
    top: 0;
    right: 0px;
    display: inline-block;
    padding: 0 8px;
    line-height: 28px;
    font-size: 12px;
    color: #9b9b9b;
}
.fp-input-unit{
	position: relative;
	input {
		padding-right: 30px;
	}
}
